@{
    ViewBag.Title = "About Us";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>
        TomTek Development is a Computer Consulting company based in Roswell, GA. We specialize in problem solving for your business by building quality web sites and applications. We do this by utilizing your existing data to the greatest benefit or by creating new data solutions to better achieve your company's goals. We do this by providing personalized consulting and programming solutions that best help your company use your data in the most helpful and useful way for your employees.
        <br />
        <br />

        We believe that data without a plan is more of a problem than a solution. We will help you get the most benefit from your data, whether it is client data, inventory, etc. or whether you have different databases that don't currently work together to your advantage. We will work with you to plan, design, build, and implement the best solution(s) for your business.
    </p>
</div>