@{
    ViewBag.Title = "Owner's Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="jumbotron text-center">
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>
        <p>Tom Karasch started programming computers as a young boy. 40 years later he's still at it, always learning and always growing as a computer professional. Building, programming and networking computers has been his passion for decades. He enjoys helping others to learn the benefits of computers and the internet as it pertains to their lives and businesses. </p>
        <p class="lead">
            If you would like to download Tom's resume, click one of the download buttons.<br /><br />
            <a href="../resumeTomKaraschSWD.docx" class="btn btn-primary btn-lg" title="">Download for MS Word (.docx) &raquo;</a>
            <a href="../resumeTomKaraschSWD.pdf" class="btn btn-primary btn-lg" title="">Download for Acrobat (.pdf) &raquo;</a>
        </p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading text-center">Resume</div>
        <div class="panel-body" style="min-height: 600px">
            <object type="text/html" style="width:100%;height:580px; padding:0px" data="~/resumeTomKaraschSWDF.htm">Tom Karasch's Resume</object>
        </div>
    </div>
</div>