@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <h3>
        c/o Tom Karasch, Owner<br />
        1737 Hemingway Ln.<br />
        Roswell, GA 30075<br />
        <abbr title="Phone">P:</abbr>
        (678)596-7224
    </h3>

    <h3>
        <strong>Direct: </strong>    <a href="mailto:tomkarasch@tomtekdev.com">tomkarasch@tomtekdev.com</a><br />
        <strong>Support: </strong>   <a href="mailto:support@tomtekdev.com">support@tomtekdev.com</a><br />
        <strong>Sales: </strong>     <a href="mailto:sales@tomtekdev.com">sales@tomtekdev.com</a><br />
        <strong>LinkedIn: </strong><a href="https://www.linkedin.com/in/tomtekdev/" target="_blank">tomtekdev on LinkedIn</a><br/>
        <strong>Github: </strong><a href="https://github.com/Krash66" target="_blank">tomtekdev on Github</a>
    </h3>
</div>