@{
    ViewBag.Title = "Demonstration Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <p class="lead">Here are a few examples of different styles of ASP.NET C# programming for the Web. There are also links at the bottom of the page to our Github and to our PHP Homepage and projects.</p>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>LAMP Homepage</h2>
            <p>See our <a href="https://en.wikipedia.org/wiki/LAMP_(software_bundle)" target="_blank">LAMP</a> site which utilizes Javascript, PHP, MySQL, <a href="https://dhtmlx.com/" target="_blank">dHTMLx</a>, XML, JSON, jQuery and AJAX on Apache Server. Source code <a href="https://github.com/Krash66/PHPhp" target="_blank">HERE.</a></p>
            <p><a href="http://tomtekdev.com/indexhome.html" class="btn btn-primary btn-lg" target="_blank">(LAMP) Website &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Working LAMP project</h2>
            <p>See a working example of a Javascript/PHP application on Apache server utilizing <a href="https://dhtmlx.com/" target="_blank">dHTMLx from DHX.</a> Source code <a href="https://github.com/Krash66/SQDWebStudio" target="_blank">HERE.</a></p>
            <p><a href="http://tomtekdev.com/SQDATA/Studio/indexMain.html" class="btn btn-primary btn-lg" target="_blank">SQD Web Studio &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Webforms App on Azure</h2>
            <p>ASP.NET webforms application on Azure that calculates <a href="https://en.wikipedia.org/wiki/Damerau%E2%80%93Levenshtein_distance" target="_blank">Damerau-Levenshtein Distance</a>. Coded in C# and utilizes Bootstrap. Source code <a href="https://github.com/Krash66/DLdistance" target="_blank">HERE.</a></p>
            <p><a href="http://dldistance20170514123910.azurewebsites.net" class="btn btn-primary btn-lg" target="_blank">D-L Distance &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>GitHub</h2>
            <p>See other examples of our code on GitHub</p>
            <p><a href="https://github.com/Krash66" class="btn btn-primary btn-lg" target="_blank">GitHub &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Stand-alone EXEcutable</h2>
            <p>Simple, stand-alone EXE file that converts XML messages into DTD structures. Source code <a href="https://github.com/Krash66/XMLconvVS2017" target="_blank">HERE.</a></p>
            <p><a href="~/XMLconv.exe" class="btn btn-primary btn-lg" title="">Download Now &raquo;</a></p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>