@{
    ViewBag.Title = "TomTek Development";
}

<div class="jumbotron">
    <h1>TomTek Development</h1>
    <p class="lead">
        Welcome to TomTek Development. This site is meant as a demonstration of some of the capabilities of our company to develop computer solutions for your business. We also welcome you to try out or LAMP website.
    </p>
    <p class="lead">This site is designed to show the different examples of web development that TomTek Development is capable of building. The main Layout is ASP.NET MVC along with C#, Razor, HTML5, CSS, Bootstrap, JavaScript, JSON, Entity Framework, SQL Server and different menu items show examples of other types of programming. This just a quickly made example just to show some basic capabilities. </p>
</div>
<div id="includedContent"></div>

<div class="row">
    <div class="col-md-4">
        <h2>LAMP Technology</h2>
        <p>See our LAMP site which utilizes Javascript, PHP, MySQL, dHTMLx, XML, JSON, jQuery and AJAX on Apache Server</p>
        <p><a href="http://tomtekdev.com" class="btn btn-primary btn-lg" target="_blank">(LAMP) Website &raquo;</a></p>
        @*<p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        @*<h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>