@{
    ViewBag.Title = "TomTek Development";
}

<div class="jumbotron">
    <h1>TomTek Development</h1>
    <p class="lead">
        Welcome to TomTek Development. This site is meant as a demonstration of some of the capabilities of our company to develop computer solutions for your business. We also welcome you to try out or LAMP website.
    </p>
    <p class="lead">This site is designed to show the different examples of web development that TomTek Development is capable of building. The main Layout is ASP.NET MVC along with C#, Razor, HTML5, CSS, Bootstrap, JavaScript, JSON, Entity Framework, SQL Server and different menu items show examples of other types of programming. This just a quickly made example just to show some basic capabilities. </p>
</div>
<div id="includedContent"></div>

<div class="row">
    <div class="col-md-4">
        <h2>LAMP Technology</h2>
        <p>See our LAMP site which utilizes Javascript, PHP, MySQL, dHTMLx, XML, JSON, jQuery and AJAX on Apache Server</p>
        <p><a href="http://tomtekdev.com" class="btn btn-primary btn-lg" target="_blank">(LAMP) Website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Working LAMP project</h2>
        <p>See a working example of a Javascript/PHP application on Apache server utilizing the <a href="https://dhtmlx.com/" target="_blank">dHTMLx JavaScript APIs from DHX.</a> See the source code <a href="https://github.com/Krash66/SQDWebStudio" target="_blank">HERE.</a></p>
        <p><a href="http://tomtekdev.com/SQDATA/Studio/indexMain.html" class="btn btn-primary btn-lg" target="_blank">SQD Web Studio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Webforms App on Azure</h2>
        <p>See a working example of an ASP.NET webforms application on Azure that calculates <a href="https://en.wikipedia.org/wiki/Damerau%E2%80%93Levenshtein_distance" target="_blank">Damerau-Levenshtein Distance</a> between two words. The app is written in C# and utilizes Bootstrap. See the source code <a href="https://github.com/Krash66/DLdistance" target="_blank">HERE.</a></p>
        <p><a href="http://dldistance20170514123910.azurewebsites.net" class="btn btn-primary btn-lg" target="_blank">D-L Distance &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
        <h2>Coding Examples</h2>
        <p>See other examples of our code on GitHub</p>
        <p><a href="https://github.com/Krash66" class="btn btn-primary btn-lg" target="_blank">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
      
    </div>
</div>