@{
    ViewBag.Title = "TomTek Development";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p class="lead">
        Welcome to TomTek Development. This site is meant as a demonstration of some of the capabilities of our company to develop computer solutions for your business. We also welcome you to try out or LAMP website.
    </p>
    <p class="lead">This site is designed to show the different examples of web development that TomTek Development is capable of building. The main Layout is ASP.NET MVC along with C#, Razor, HTML5, CSS, Bootstrap, JavaScript, JSON, Entity Framework, SQL Server and different menu items show examples of other types of programming. This just a quickly made example just to show some basic capabilities. </p>
    <p class="lead"><strong> This site is constantly being updated, so check back often! ***</strong></p>
</div>
<div id="includedContent" class="carousel-control">



</div>


