@{
    ViewBag.Title = "LAMP Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <p class="lead">This is a fully functioning LAMP Application utilizing JavaScript, PHP, MySQL, JSON, XML, HTML5, CSS and the <a href="https://dhtmlx.com/" target="_blank">dHTMLx JavaScript framework by DHX.</a> This is a fully functioning App and allows uploads downloads and script generation. See the source code here.</p>
    <p class="lead">
        <a href="https://github.com/Krash66/SQDWebStudio" class="btn btn-primary btn-lg" target="_blank">SQD Web Studio Source Code &raquo;</a>
        <a href="http://tomtekdev.com/SQDATA/Studio/indexMain.html" class="btn btn-primary btn-lg" target="_blank">Open Web Studio in a new Tab &raquo;</a>
    </p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Web Studio</div>
    <div class="panel-body" style="min-height: 700px">
        <iframe id="iframeStudio" style="height:680px; width:100%; margin:0px; border:0px; padding:0px" src="http://tomtekdev.com/SQDATA/Studio/indexMain.html" /><br/>
    </div>
</div>

