@{
    ViewBag.Title = "LAMP Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="jumbotron text-center">
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>

        <p>See our <a href="https://en.wikipedia.org/wiki/LAMP_(software_bundle)" target="_blank">LAMP</a> site which utilizes Javascript, PHP, MySQL, <a href="https://dhtmlx.com/" target="_blank">dHTMLx</a>, XML, JSON, jQuery and AJAX on Apache Server. Source code <a href="https://github.com/Krash66/PHPhp" target="_blank">HERE.</a></p>
        <p><a href="http://tomtekdev.com/indexhome.html" class="btn btn-primary btn-lg" target="_blank">(LAMP) Website &raquo;</a></p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading text-center">LAMP Homepage</div>
    <div class="panel-body" style="min-height: 800px">
        <iframe id="iframePHPhp" style="height:780px; width:100%; margin:0px; border:0px; padding:0px" src="http://tomtekdev.com/indexhome.html" /><br />
    </div>
</div>

