body {
    padding-top: 40px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav {
    font-size: x-large;
}

.nav a {
    color: #ffffff;           /*!important*/
    font-size: 18px;       /*!important;*/
}

.container .jumbotron,
.container-fluid .jumbotron {
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    /*width: 1400px;*/
    background-color: #5281a3;
    background-color: rgba(23, 97, 137, 0.56);
    border-radius: 50px;
}

    .checkbox label {
    font-size: 18px;
}

form label{
    font-size: 18px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dd {
    font-size:20px;
}
.dl-horizontal dt {
    white-space: normal;
    font-size: 20px;
}
.carousel-caption {
    /*color:#ffffff;*/
    text-shadow:2px 2px 2px #000000;
}
.carousel-caption text-danger{
    color: #ff0000;
    text-shadow: 2px 2px 2px #000000;
}
.carousel-caption text-primary {
        color: #ff6a00;
        text-shadow: 2px 2px 2px #000000;
    }
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}
