@{
    ViewBag.Title = "D-L Distance - ASP.NET/aspx";
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}

<div class="container body-content">
    <div class="jumbotron  text-center">
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading text-center">ASP.NET aspx Webform to calculate D-L Distance</div>
    <div class="panel-body" style="min-height: 800px">
        <iframe id="iframeADLD" style="height:780px; width:100%; margin:0px; border:0px; padding:0px" src="http://dldistance20170514123910.azurewebsites.net" /><br />
    </div>
</div>
